.card {
    /* border: 1px dotted black; */
    background: white;
    /* margin: 20px; */
    max-width: 500px;
    /* max-height: 58vh; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.6s ease-in;
    padding-top: 20px;
    border-bottom: 20px solid black;

}

.card .top h1 {
    /* font-size: 18px; */
    /* font-weight: bold; */
    text-transform: capitalize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.card .bottom ul {
    display: flex;
}

.card li {
    padding-right: 10px;
}


/* .card h2 {
    font-size: 20px;
} */



.card .top {
    /* font-family: "Quebrado"; */
    width: 100%;
    /* background-color: rgb(238, 238, 238); */
    /* border-bottom: 1px dotted black; */
    /* height: 40px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px 0 0px;
}

.card .bottom {

    width: 100%;
    /* border-top: 1px dotted black; */
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;

}

.card>.content {
    padding-left: 20px;
    flex-grow: 1;
    /* overflow-Y: scroll; */
}