.big-grid {
    padding: 20px 20px;
    line-height: 20px;
    display: grid;
    background-color: black;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 10fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 6fr));
    height: 100vh;
    width: 100%;
    transition: "background"2s ease-in;
}

.chapter-container {
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
    padding-top: 40px;
    background-color: white;
    grid-column: 1/ span 3;
    grid-row: 1 / -1;
}

.expe-container {
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
    background-color: white;
    /* background: red; */
    grid-column: 8/ -1;
    grid-row: 1 / -1;
    overflow-y: scroll;
    /* display: grid;
    grid-template-columns: 2;
    grid-template-rows: 2; */
}

.expe-container>* {
    border-bottom: 20px solid black;
    margin-bottom: 20px;
}

.cards-container {

    position: relative;
    /* padding-left: 20px; */
    padding-top: 40px;
    background-color: white;
    grid-column: 4 / span 4;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
}


iframe {
    overflow: hidden;
    width: 100%;
    height: 95vh;
}

.grid-view {
    grid-column: 1/span all;
    grid-row: 1/span all;
    position: absolute;
    z-index: -1;
}

.grid-view div {
    border: 0.5px dotted #969696;
    z-index: -1;

}

.big-grid>* {
    transition: all 0.3s ease-in;
}



/* .big-grid>*:hover {
    background: whitesmoke;
} */




.card-small>h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0px !important;
}

.cards-container>h1,
h2,
h3,
h4,
h5 {
    /* margin-top: 20px; */
    /* font-family: "Quebrado"; */
}

/* .intro-container {
    grid-column: 2 / span 3;
    grid-row: 2 / -1;
}

*/
.input-box {
    grid-column: 2 /span 2;
    grid-row: 1 /span 1;
}


.text-trigger {
    cursor: pointer;
    position: relative;
    grid-column: span 1 / -1;
    grid-row: 1 / -1;
    font-size: 5px;
    line-height: initial;
}

.text-trigger p {
    padding-top: 5px;
}

.text-trigger img {
    width: -moz-available;
}

#target-box {
    position: absolute;
    top: 0;
    width: 100%;
    height: 25%;
    border: 1.5px solid #2000ff;
    /* background-color: #f1e7ff;
    border: 1px solid #f00; */
    opacity: 0.3;
    z-index: 200;
}