#nav {
    /* grid-column: 1 / span 1;
    grid-row: 1 / span 1; */
    position: absolute;
    display: flex;
    /* background: black; */
    /* display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
    /* height: 100%; */
    width: 100%;
}

.tag-form {
    color: white;
    display: flex;
    margin-left: 20px;
}

.tag-form>* {
    margin-right: 20px;
}



.ReactTags__selected {
    display: flex;
    flex-flow: row-reverse;
}

.ReactTags__tagInput {
    display: flex;
    /* flex-flow: row-reverse; */
}

.ReactTags__tag {
    margin-left: 20px;
}