#reorder-list {

    border-width: 0 1px 0 0;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}


#reorder-list ul {
    list-style: decimal;
    margin: 0 0 0px;
    min-height: 20px;
    /* margin-right: 20px; */
    /* border: 1px dotted black;
    border-width: 0 0 1px 0; */
}

#reorder-list li:hover {
    font-style: italic;
    background-color: white;
}


.title-chapter {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sub-list li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
}

.sub-list li p {
    padding: 0px;
    margin: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
}

.grabbing {
    background-color: rgb(238, 238, 238);
}

.white {
    background-color: white;
}

.box-drag {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: rgb(238, 238, 238);
    margin-right: 20px;
}

.last-item {
    order: 1000;
}

.dropOver {
    border: 1px dotted black;
    background: rgb(238, 238, 238);
}




.btn-add {
    position: fixed;
    top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-top {
    position: fixed;
    bottom: 40px;
}