.ReactTags__remove {
    margin-left: 6px;
    border: 1px dotted black;
    padding: 0px 4px;
    cursor: pointer;
    opacity: 0.7;
    background: white;
}

.ReactTags__remove:hover {
    opacity: 1;
    margin-left: 6px;
    border: 1px dotted black;
    padding: 0px 4px;
    cursor: pointer;
    background: rgb(238, 238, 238);
}

.ReactTags__activeSuggestion {
    cursor: pointer;
}