@import "./librairies/paged-js.css";

@import './components/navbar.css';
@import './components/card.css';
@import './components/reorder-list.css';
@import "./components/reset.css";
@import "./components/grid.css";
@import "./components/paged-style.css";
@import "./components/tag-search.css";

@font-face {
  font-family: 'FivoSansModern';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/FivoSansModern/FivoSansModern-Regular.otf');
}

@font-face {
  font-family: 'Sprat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/sprat/Sprat-ExtendedLight.otf');
}

@font-face {
  font-family: 'Quebrado';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Quebrado-Regular.otf');
}

@font-face {
  font-family: 'honokamin';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/font_1_honokamin.ttf');
}

@font-face {
  font-family: 'VerilySerifMono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/VerilySerifMono.otf');
}

body,
html {
  /* font-family: "tsukurimashou" ; */
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "VerilySerifMono";
  background-color: white;
  font-size: 1.8vh;
}



#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section {
  box-sizing: border-box;
  /* border: 0 dotted #000; */
  /* border-width: 1px 1px 1px; */
  overflow: hidden;
  overflow-y: scroll;
}

p {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  /* border-width: 0 0 1px;
  border-color: #000;
  border-style: dotted */
}

ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

h1 {
  padding-left: 20px;
  margin-top: 0px;
}

blockquote {
  margin-bottom: 0;
  margin-top: 0
}

.show {
  display: block !important;
}

.disabled-link {
  pointer-events: none;
}

.hide {
  display: none !important;
}

.input {
  display: flex;

}

/* input {
  border: 0.1px dotted lightslategray;
} */





.card textarea {
  width: 100%;
  border: none;
}

.canvas {
  background-image: url(/blender-obj/water.jpg);
  /* grid-column: 7/ -1;
  grid-row: 1/-1; */
}

button {
  font-size: 1.8vh;
  font-family: "VerilySerifMono";
  z-index: 1000;
  font-size: inherit;
  background: white;
  border: 0px;
  cursor: pointer;
  opacity: 0.7;
  padding: 0px 20px;
}

button:hover {

  background: rgb(238, 238, 238);
  z-index: 1000;
  font-size: inherit;
  /* padding: 0px 4px;
  padding-bottom: 2px; */
  cursor: pointer;
  opacity: 1;
}

canvas {
  height: 100vh;
  width: 100vw;
}